.new-message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    position: sticky;
    gap: 1.5rem;
    padding: 0.5rem;

    input {
        width: 50vw;
    }
}