@use "navbar";
@use "container";
@use "card";

body {
    margin: 0;
    background-color: #0a0a0a;
    // background-color: #1e1f1d;
}

.app {
    // color: #57c865;

    color: #00eeff;
    font-weight: 200;
    height: 100vh;
    a,
    #heading {
        // color: #29aff8;
        // color: #57c865;
        color: #c8ff00;
        text-decoration: none;
        font-weight: 500;
    }
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
}

.app-l {
    background-color: #f5f5f5;
    color: #242424;
    height: 100vh;
    a,
    #heading {
        color: #002357;
        text-decoration: none;
        font-weight: 500;
    }
}
